body {
   clear:both;
   font-family:Trebuchet MS;
   font-size:12px;
   margin:0;
   color:#282ea7;
}
#quiz_wrapper {
   float:left;
   width:400px;
   height:500px;
   overflow:auto;
}
/*envolve todo o config do quiz*/
#config_wrapper {
   width:530px;
   height:500px;
   float:left;
   border:1px solid #CBCBCB;
   overflow:auto;
}
/*item_set*/
.item_set {
   width:auto;
   margin:5px;
}
.item_set label {

}
.item_set input,select,textarea {

}
/*item_set*/
/*block*/
.block {
   width:auto;
   /*border:1px solid red;*/
}

/*block*/
/*simple_block*/
.simple_block,.simple_block_style {
   width:auto;
}
/*simple_block*/
/*barra de título dos blocos*/
.title_bar {
   background-color:#E9E8E8;
   width:auto;
   clear:both;
   height:26px;
   border: 1px solid #D6D5D5;
}
.title_bar_text {
   float:left;
   font-size:16px;
   font-style:normal;
   margin-left:5px;
   margin-top:3px;
}
.title_bar_display_content {
   float:right;
}
.open_settings img{
   width:12px;
   height:12px;
   cursor:pointer;
}
.close_settings img{
   width:12px;
   height:12px;
   cursor:pointer;
}
/*barra de título dos blocos*/

/*settings_menu*/
.settings_menu {
   width:auto;
   margin:6px 0 6px 10px;
   font-size:14px;
   font-style:normal;
}
.settings_menu select.block_combo,.block_options_combo {
   max-width:220px;
}
.add_global img{
   width:12px;
   height:12px;
   cursor:pointer;
}
.remove_global img{
   width:12px;
   height:12px;
   cursor:pointer;
}
.edit_global img{
   width:12px;
   height:12px;
   cursor:pointer;
}
/*settings_menu*/

/*global_config area*/
.global_config {
   display:none;
   width:auto;
   padding:0;
   margin:2px 0 2px 10px;
   font-size:12px;
   font-style:normal;
}
.global_config_buttons {
   margin:10px 0 5px 5px;
   clear:left;
}
.global_config_buttons input[type=button]{
   margin:5px 0 5px 10px;
   float:left;
}
.removing_global {
   display:none;
}

/*global_config area*/

.settings {
   display:none;
   margin-left:10px;
}
.content_buttons {
   margin:5px 0 5px 10px;
}
/*content_fieldset*/
.content_fieldset {
   display:none;
   width:auto;
   padding:0;
   margin:2px 0 2px 10px;
   font-size:12px;
   font-style:normal;
}
/*content_fieldset*/

/*tochoose*/
.tochoose {
   display:none;
   text-transform:capitalize;
   font-weight:600;
}
div[class^=tochoose] {
   display:none;
   margin-left:10px;
}
/*tochoose*/

.disp_block {
   display:block;
}

/*myounf quiz*/
.myounf-quiz_area {
   display:block;
   position:relative;
   top:0;
   left:0;
   border:1px solid #D6D5D5;
   width:98%;
   min-height:498px;
}
#myounf-quiz_title {

}
.myounf-element_area {
   display:block;
   border:1px solid #D6D5D5;
   width:100%;
   min-height:30px;
}
.myounf-entries_area {

}
.myounf-entry_area {
   display:block;
   border:1px solid #D6D5D5;
   min-width:30px;
   /*max-width:200px;*/
   min-height:22px;
   /*max-height:100px;*/
}
.el_type_html_content_text {

}
/*myounf quiz*/