body {
   clear:both;
   font-family:Trebuchet MS;
   font-size:12px;
   margin:0;
}
.template {
   display:none;
}
.close_settings img{
   width:12px;
   height:12px;
   cursor:pointer;
}
.open_settings img{
   width:12px;
   height:12px;
   cursor:pointer;
}
.edit_settings img{
   width:12px;
   height:12px;
   cursor:pointer;
}
.view img{
   width:17px;
   height:12px;
   cursor:pointer;
}
.tochoose,.tochoose_unique {
   display:none;
}
.chosen_form {
   display:block;
}
#config_wrapper {
   width:530px;
   float:left;
   border:1px solid #CBCBCB;
}
#config_wrapper input[type="text"],select,textarea {
   font-size:14px;
   font-style:italic;
   color:#403F3F;
}
#config_wrapper input[type="button"] {
   font-size:14px;
   font-weight:bold;
}
.group_config,.group_config_sub {
   margin-bottom:5px;
}
.group_config_sub {

}
.settings,.settings_sub,.entry_setting,.option_setting,.list_setting,.tools_option_setting {
   display:none;
   margin-top:10px;
   margin-left:10px;
   text-transform:capitalize;
   font-weight:600;
}
.item_set {
   padding-bottom:5px;
}
#new_element {
   cursor:pointer;
}
#remove_element {
   cursor:pointer;
}
.settings_form {
   display:none;
}
.title_bar {
   background-color:#E9E8E8;
   width:97%;
   clear:both;
   height:26px;
   margin-left:10px;
   margin-top:2px;
}
.title_bar_text {
   float:left;
   font-size:16px;
   font-style:normal;
   font-weight:bold;
   margin-left:5px;
   margin-top:3px;
   text-transform:capitalize;
}
.title_bar_sub {
   background-color:#E9E8E8;
   width:97%;
   clear:both;
   height:20px;
   margin-left:10px;
}
.main_title_bar {
   margin-left:2px;
   width:99%;
}
.title_bar_text_sub {
   float:left;
   font-size:14px;
   font-style:normal;
   font-weight:bold;
   margin-left:5px;
   text-transform:capitalize;
}
.main_title_bar_text {

}
.title_bar_display_content {
   float:right;
}
#new_quiz {
   cursor:pointer;
}
#elements_config,#tools_config,#layout_config,#qgrouping_config,#qdeps_config,#list_setting {
   display:none;
}